<html>
	<head>
		<title>Steve's Bloog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Oh Puzuzuuhhh!!!</a></h1>
		</div>
	
	
		<div>
			<p>published: 14.05.2016, 09:25am</p>
			<h2><a href="">ZUUUHZUUUUHHHHH!!!!</a></h2>
			<p>Zuuhhhzuuuuuhh.. Oh PuzuuuZuuuuuuuuuuuuuuhhhhhhhhhhhhhh!!!!"</p>
		</div>	
		
		<div>
			<p>published: 14.05.2016, 09:27am</p>
			<h2><a href="">The Farnsworth Parabox</a></h2>
			<p>The Planet Express crew goes to a parallel universe made accessible by Professor Farnsworth's latest experiment.</p>
			<p>Futurama | Volume Four | DVD</p>
		</div>
	</body>
</html>
